#PlannerWidget::-webkit-scrollbar {
    width: 10px;
}

#PlannerWidget::-webkit-scrollbar-track {
    background: #fefefe;
}

#PlannerWidget::-webkit-scrollbar-thumb {
    background: #888686;
}

#PlannerWidget::-webkit-scrollbar-thumb:hover {
    background: #595656;
    cursor: pointer;
}

#planner_description {
    background-color: rgba(231, 240, 241, 0.75);
    font-style: italic;
    font-size: 1rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-color: #595656;
    border: 1px;
    min-width: 210px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
}

#planner-mergePopup {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    left: calc(50% - 137px); /*Place it at the center of the screen*/
    top: 100px;
    width: 275px; /*Should have a fixed width*/
    max-height: 225px;
    overflow-y: scroll;
}

.planner-eventTitleTooltip {
    font-weight: bold;
}

.planner-hoverBack {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.planner-popupDropdownItem a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.planner-popupDropdownItem {
    padding: 0;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#planner-svg {
    z-index: -1;
}

#planner_options form input[type=checkbox] {
    width: 18px;
    height: 18px;
    border: 0.15em solid #474747;
    border-radius: 0.15em;
    vertical-align: middle;
    position: relative;
    margin-right: 2px;
    top: 2.5px;
    accent-color: #474747; /* stylelint-disable-line */
    float: left;
}

#planner_options form label {
    text-align: left;
    margin-right: 12px;
}

#planner_options form {
    text-align: left;
    z-index: 3;
}

.planner-checkBtn {
    font-size: 15px;
    color: white;
    background-color: #888686;
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    cursor: pointer;
    margin: 8px 12px 4px 4px;
}

#planner-check {
    display: none;
}

#planner-infoMobile {
    display: none;
}

@media screen and (max-width: 767px) {
    #PlannerWidget::-webkit-scrollbar {
        display: none;
    }
    #planner-check {
        display: block;
    }
    #planner-infoMobile {
        display: block;
    }
    #planner-mergePopup {
        top: 200px;
    }
    #planner_options form,
    #planner-info {
        position: absolute;
        background-color: #888686;
        border: 2px solid rgba(0, 0, 0, 0.15);
        border-radius: 2%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: white;
        width: 100%;
        left: -150%;
        text-align: left;
        transition: all 0.5s;
        z-index: 3;
    }
    #planner_options form input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
        margin-left: 10px;
    }
    #planner_options form label {
        padding-top: 5px;
        display: block;
    }
    #planner_options {
        width: 50%;
        height: 100px;
    }
    #planner_legend {
        height: 0;
    }
    #planner_actions {
        position: absolute;
        right: 10px;
        width: 50%;
    }
    #planner_actions .planner-viewDropdown {
        display: none;
    }
    #planner_menu {
        height: 100px;
    }
    #planner_view #planner_left {
        display: none;
    }
    #planner_view #planner_right {
        display: none;
    }
    .planner-mobileArrows {
        position: relative;
        height: 80px;
        width: 100%;
        margin: 0 0 0 0;
    }
    #planner_view .planner-mobileMonth {
        position: absolute;
        font-size: 20px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 45px;
        text-align: center;
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    #planner_options {
        width: 75%;
    }
}

