{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template lytix_config/learners_corner

  Lytix Learner’s Planner

  This widget renders an interactive timeline, showing events and milestones.

  Classes required for JS:
  * lytix_planner/planner

  Context variables required for this template:
  See example below.

  Example context (json):
  {
      "contextid": 0,
      "courseid": 0,
      "userid": 0,
      "isteacher": true
  }
}}

<div class='widget'>
    <h3 class='p-1 pl-3 m-0'>Planner</h3>
    <p id="planner_description" class='p-3'></p>
    <div class='p-3'>
        <div id="planner_menu" class="row">
            <div id="planner_options" class="col-md-6">
            </div>

            <div id="planner_actions" class="col-md-6"></div>

        </div>
        <div id="planner_view" class="row">
            <div id="planner_left" class="col-md-1"></div>
            <div id="PlannerWidget" class="w-100 col-md-10 p-0"></div>
            <div id="planner_right" class="col-md-1"></div>
            <div id="planner-mergePopup"></div>
        </div>
        <div id="planner_sum">
            <div id="planner_legend"></div>

        </div>

    </div>
</div>

{{#js}}
    require(['lytix_planner/planner-lazy'], m => {
        m.init({{contextid}}, {{courseid}}, {{userid}}, {{isteacher}}, '{{{locale}}}');
    });
{{/js}}
